schemes/oeffentlich/RepositoryMap.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Karte" type="KarteType"/>
  <xsd:complexType name="KarteType">
    <xsd:sequence>
      <xsd:element name="Titel" type="xsd:string"/>
      <xsd:element name="Metadaten" type="MetadatenType"/>
      <xsd:element name="GIS-Typ" type="xsd:string"/>
      <xsd:element name="GIS-ServerName" type="GIS-ServerNameType"/>
      <xsd:element name="DefaultCRS" type="xsd:string"/>
      <xsd:element name="Uebersichtskarte" type="UebersichtskarteType" minOccurs="0"/>
      <xsd:element name="UebersichtskarteIntern" type="UebersichtskarteType" minOccurs="0"/>
      <xsd:element name="Anfangsausschnitt" type="AusdehnungType" minOccurs="0"/>
      <xsd:element name="Ausdehnung" type="AusdehnungType" maxOccurs="unbounded"/>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element name="Kartenebene" type="KartenebeneType" maxOccurs="unbounded"/>
        <xsd:element name="Gruppenebene" type="GruppenebeneType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="rbz_klasse" type="xsd:string" use="required"/>
    <xsd:attribute name="metadatenTyp" type="xsd:string" use="required"/>
	<xsd:attribute name="inspireAnnex" type="xsd:string"/>
    <xsd:attribute name="wmskategoriename" type="xsd:string"/>
    <xsd:attribute name="noBackground" type="xsd:boolean" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="MetadatenType">
    <xsd:sequence>
      <xsd:element name="Kurzbeschreibung" type="xsd:string"/>
      <xsd:element name="Themennutzung" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="InhaltlicheBeschreibung" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="TechnischeBeschreibung" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="Dienstebeschreibung" type="DienstebeschreibungType" minOccurs="0"/>
      <xsd:element name="Legende" type="InhaltType" minOccurs="0"/>
      <xsd:element name="LegendImage" type="LegendImageType" minOccurs="0"/>
      <xsd:element name="Datengrundlage" type="InhaltType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Veroeffentlichung" type="InhaltType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Schlagwoerter" type="xsd:string" maxOccurs="unbounded"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="Erstellungsdatum" type="xsd:string"/>
          <xsd:element name="Revisionsdatum" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Veroeffentlichungsdatum" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="Revisionsdatum" type="xsd:string"/>
          <xsd:element name="Veroeffentlichungsdatum" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="Veroeffentlichungsdatum" type="xsd:string"/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="gueltigVon" type="xsd:string" minOccurs="0"/>
      <xsd:element name="gueltigBis" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Vorschau" type="InhaltType" />
      <xsd:element name="RufUrl" type="xsd:anyURI"/>
      <xsd:element name="CapabilitiesUrl" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="Kontakt" type="KontaktType" maxOccurs="unbounded"/>
      <xsd:choice>
        <xsd:element name="Bodenaufloesung" type="xsd:double" minOccurs="0"/>
        <xsd:element name="Massstabszahl" type="xsd:long" minOccurs="0"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DienstebeschreibungType">
    <xsd:attribute name="typ" type="xsd:string" use="required"/>
    <xsd:attribute name="url" type="xsd:anyURI" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="KontaktType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Organisationsname" type="xsd:string"/>
      <xsd:element name="Kontaktart" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Telefon" type="xsd:string"/>
      <xsd:element name="Fax" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Adresse" type="AdresseType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdresseType">
    <xsd:sequence>
      <xsd:element name="Strasse" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Stadt" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Bundesland" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Postleitzahl" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Land" type="xsd:string" minOccurs="0"/>
      <xsd:element name="EMail" type="xsd:string"/>
      <xsd:element name="WWW"  type="xsd:anyURI" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UebersichtskarteType">
    <xsd:complexContent>
      <xsd:extension base="AusdehnungType">
        <xsd:attribute name="url" type="xsd:anyURI" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
    <xsd:complexType name="GruppenebeneType">
    <xsd:sequence>
      <xsd:element name="Titel" type="xsd:string"/>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element name="Kartenebene" type="KartenebeneType" minOccurs="1"/>
        <xsd:element name="Gruppenebene" type="GruppenebeneType" minOccurs="0"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="KartenebeneType">
    <xsd:sequence>
      <xsd:element name="Titel" type="xsd:string"/>
      <xsd:element name="Kurzbeschreibung" type="xsd:string"/>
      <xsd:element name="Legende" type="InhaltType" minOccurs="0"/>
      <xsd:element name="LegendImage" type="LegendImageType" minOccurs="0"/>
      <xsd:element name="SachdatenID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SelektionsAlias" type="SelektionsAliasType" minOccurs="0"/>
      <xsd:element name="SignaturText" type="SignaturTextType" minOccurs="0"/>
      <xsd:element name="Textposition" type="TextpositionType" minOccurs="0"/>
      <xsd:element name="GIS-Typ" type="xsd:string" minOccurs="0"/>
      <xsd:element name="GIS-ServerName" type="GIS-ServerNameType" minOccurs="0"/>
      <xsd:element name="CrsInfo" type="CrsInfoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Style" type="StyleType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="activeLayer" type="xsd:boolean" use="required"/>
    <xsd:attribute name="activeLinkLayer" type="xsd:boolean" use="required"/>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="mt_klasse" type="xsd:string" use="required"/>
    <xsd:attribute name="selektierbar" type="xsd:boolean" use="required"/>
    <xsd:attribute name="sichtbar" type="xsd:boolean" use="required"/>
    <xsd:attribute name="Reihenfolge" type="xsd:integer"/>
    <xsd:attribute name="layerAlias" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="InhaltType">
    <xsd:sequence>
      <xsd:element name="Inhalt" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="Typ" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="LegendImageType">
    <xsd:attribute name="format" type="xsd:string" use="required"/>
    <xsd:attribute name="url" type="xsd:anyURI" use="required"/>
    <xsd:attribute name="width" type="xsd:integer" use="required"/>
    <xsd:attribute name="height" type="xsd:integer" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SelektionsAliasType">
    <xsd:sequence>
      <xsd:element name="SelektionsServer" type="SelektionsServerType" minOccurs="0"/>
      <xsd:element name="Darstellung" type="DarstellungType"/>
    </xsd:sequence>
    <xsd:attribute name="aktiv" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:complexType name="SelektionsServerType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Datenbank" type="DatenbankType"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatenbankType">
    <xsd:sequence>
      <xsd:element name="Datenbankverbindung" type="DatenbankverbindungType"/>
      <xsd:element name="Datenbanktabelle" type="DatenbanktabelleType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DatenbankverbindungType">
    <xsd:attribute name="connect" type="xsd:string" use="required"/>
    <xsd:attribute name="driver" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="DatenbanktabelleType">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="keyColumn" type="xsd:string" use="required"/>
    <xsd:attribute name="valueColumn" type="xsd:string" use="required"/>
    <xsd:attribute name="defaultValue" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="DarstellungType">
    <xsd:sequence>
      <xsd:element name="Font" type="FontType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FontType">
    <xsd:attribute name="color" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="size" type="xsd:integer" use="required"/>
    <xsd:attribute name="style" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="SignaturTextType">
    <xsd:attribute name="font" type="xsd:string" use="required"/>
    <xsd:attribute name="fontColor" type="xsd:string" use="required"/>
    <xsd:attribute name="fontSize" type="xsd:integer" use="required"/>
    <xsd:attribute name="fontStyle" type="xsd:string"/>
    <xsd:attribute name="fontTransparenz" type="xsd:integer" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TextpositionType">
    <xsd:sequence>
      <xsd:element name="TextpositionDatenbank" type="TextpositionDatenbankType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TextpositionDatenbankType">
    <xsd:sequence>
      <xsd:element name="TextpositionDatenbankverbindung" type="TextpositionDatenbankverbindungType"/>
      <xsd:element name="TextpositionDatenbanktabelle" type="TextpositionDatenbanktabelleType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TextpositionDatenbankverbindungType">
    <xsd:attribute name="connect" type="xsd:string" use="required"/>
    <xsd:attribute name="driver" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="TextpositionDatenbanktabelleType">
    <xsd:sequence></xsd:sequence>
    <xsd:attribute name="crs" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="text" type="xsd:string" use="required"/>
    <xsd:attribute name="xpos" type="xsd:string" use="required"/>
    <xsd:attribute name="ypos" type="xsd:string" use="required"/>
    <xsd:attribute name="x1" type="xsd:string" use="required"/>
    <xsd:attribute name="x2" type="xsd:string" use="required"/>
    <xsd:attribute name="y1" type="xsd:string" use="required"/>
    <xsd:attribute name="y2" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="GIS-ServerNameType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="httpUserName" type="xsd:string"/>
        <xsd:attribute name="httpUserPassword" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CrsInfoType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Spatial"  type="SpatialType"/>
        <xsd:element name="Ogc" type="OgcType"/>
        <xsd:element name="Zugriffsinfo" type="xsd:string"/>
      </xsd:choice>
      <xsd:element name="Scale" type="ScaleType"/>
    </xsd:sequence>
    <xsd:attribute name="crs" type="xsd:string" use="required"/>
    <xsd:attribute name="minZoomExtent" type="xsd:double"/>
  </xsd:complexType>
  <xsd:complexType name="StyleType">
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="title" type="xsd:string"/>
    <xsd:attribute name="value" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="OgcType">
    <xsd:sequence>
      <xsd:element name="SelectionStyleUrl" type="xsd:anyURI" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="Oracle9iServer" type="Oracle9iServerType"/>
        <xsd:element name="PostGisServer" type="PostGisServerType"/>
        <xsd:element name="WfsServer" type="WfsServerType"/>
      </xsd:choice>
      <xsd:element name="LayerName" type="xsd:string"/>
      <xsd:element name="StyleName" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="activeLayer" type="xsd:boolean"/>
    <xsd:attribute name="crs" type="xsd:string"/>
    <xsd:attribute name="httpUserName" type="xsd:string"/>
    <xsd:attribute name="httpUserPassword" type="xsd:string"/>
    <xsd:attribute name="selectionDistance" type="xsd:double"/>
  </xsd:complexType>
  <xsd:complexType name="SpatialType">
    <xsd:sequence>
      <xsd:element name="DrawStyleUrl" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="SelectionStyleUrl" type="xsd:anyURI" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="Oracle9iServer" type="Oracle9iServerType"/>
        <xsd:element name="PostGisServer" type="PostGisServerType"/>
        <xsd:element name="SqlGisServer" type="SqlServerType"/>
        <xsd:element name="WfsServer" type="WfsServerType"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="activeLayer" type="xsd:boolean"/>
    <xsd:attribute name="crs" type="xsd:string"/>
    <xsd:attribute name="selectionDistance" type="xsd:double"/>
  </xsd:complexType>
  <xsd:complexType name="DatabaseServerType">
    <xsd:sequence>
      <xsd:element name="ConnectString" type="xsd:string"/>
      <xsd:element name="TableName" type="xsd:string"/>
      <xsd:element name="ShapeColumnName" type="xsd:string"/>
      <xsd:element name="IdColumnName" type="xsd:string"/>
      <xsd:element name="AliasColumnName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="WhereCondition" type="xsd:string" minOccurs="0"/>
      <xsd:element name="SelectColumn" type="SelectColumnType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oracle9iServerType">
    <xsd:complexContent>
      <xsd:extension base="DatabaseServerType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PostGisServerType">
    <xsd:complexContent>
      <xsd:extension base="DatabaseServerType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SqlServerType">
    <xsd:complexContent>
      <xsd:extension base="DatabaseServerType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WfsServerType">
    <xsd:sequence>
      <xsd:element name="FeatureURL" type="xsd:anyURI"/>
      <xsd:element name="FeatureTypeName" type="FeatureTypeName"/>
      <xsd:element name="ShapePropertyName" type="xsd:string"/>
      <xsd:element name="AliasPropertyName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Version" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="httpUserName" type="xsd:string"/>
    <xsd:attribute name="httpUserPassword" type="xsd:string"/>
    <xsd:attribute name="maxFeatures" type="xsd:integer"/>
  </xsd:complexType>
  <xsd:complexType name="FeatureTypeName">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="nameSpace" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ScaleType">
    <xsd:attribute name="min" type="xsd:double"/>
    <xsd:attribute name="max" type="xsd:double"/>
  </xsd:complexType>
  <xsd:complexType name="AusdehnungType">
    <xsd:attribute name="crs" type="xsd:string" use="required"/>
    <xsd:attribute name="xlu" type="xsd:double" use="required"/>
    <xsd:attribute name="ylu" type="xsd:double" use="required"/>
    <xsd:attribute name="xro" type="xsd:double" use="required"/>
    <xsd:attribute name="yro" type="xsd:double" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="SelectColumnType">
    <xsd:attribute name="columnName" type="xsd:string" use="required"/>
    <xsd:attribute name="columnLabel" type="xsd:string"/>
    <xsd:attribute name="columnFunction" type="xsd:string"/>
    <xsd:attribute name="columnType" type="xsd:string" use="required"/>
    <xsd:attribute name="schema" type="xsd:string"/>
    <xsd:attribute name="tableName" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>
